extends ../shared/template
block content
  h2 Painter
  #controls
    input(type='color', value='#ff33cc')
    button Add Color
  #colors
    #selected

block scripts
  script(src='/js/user/painter.js')

